# VacationPy
------------

In [5]:
%load_ext lab_black
import pandas as pd
import matplotlib.pyplot as plt
import requests

### Store Part 1 results into DataFrame
* Load the csv exported in Part 1 to a DataFrame

In [6]:
# import data file
file = "../WeatherPy/output_data/city_list.csv"
df = pd.read_csv(file)
df.head()

,City ID,City,Country,Date,Max Temp,Clouds,Humidity,Wind Speed,Lat,Lng
0,0,Clyde River,CA,1601160090,26.60,75,100,9.17,70.47,-68.59
1,1,Faanui,PF,1601159542,78.73,8,77,12.73,-16.48,-151.75
2,2,Hermanus,ZA,1601160090,45.00,30,92,6.26,-34.42,19.23
3,3,Hobart,AU,1601159834,46.99,75,49,16.11,-42.88,147.33
4,4,Luena,AO,1601160091,66.29,0,29,2.51,-11.78,19.92

### Create new DataFrame fitting weather criteria
* Narrow down the data frame to find cities with a max temp lower than 80 but higher than 70, wind speed less than 10 mph and zero cloudiness

In [8]:
# locate cities with criteria
ideal_cities_df = df.loc[
    (df["Wind Speed"] < 10)
    & (df["Clouds"] == 0)
    & (df["Max Temp"] > 70)
    & (df["Max Temp"] < 80)
].dropna()
ideal_cities_df

,City ID,City,Country,Date,Max Temp,Clouds,Humidity,Wind Speed,Lat,Lng
28,28,Marrakesh,MA,1601160096,73.40,0,43,6.93,31.63,-8.01
51,51,Marzuq,YE,1601160102,77.72,0,54,2.26,14.40,46.47
159,159,Vila Velha,BR,1601160127,75.20,0,83,8.05,-20.33,-40.29
221,221,Kumluca,TR,1601160141,76.26,0,62,1.77,36.37,30.29
263,263,Sakakah,SA,1601160151,78.80,0,27,9.17,29.97,40.21
357,357,Mocuba,MZ,1601160171,77.85,0,38,5.59,-16.84,36.99
365,365,Usta Muhammad,PK,1601160173,78.57,0,28,4.85,28.18,68.04
438,438,Nsanje,MW,1601160189,78.98,0,29,1.30,-16.92,35.26
448,448,Joaíma,BR,1601160192,72.30,0,72,2.77,-16.65,-41.03
454,454,Najrān,SA,1601160126,75.20,0,23,2.24,17.49,44.13
479,479,Cabedelo,BR,1601160199,75.20,0,88,8.05,-6.98,-34.83
519,519,Caravelas,BR,1601160208,70.86,0,84,5.19,-17.71,-39.25
569,569,Lucapa,AO,1601160219,70.12,0,76,3.87,-8.42,20.74