# VacationPy
------------

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

### Store Part 1 results into DataFrame
* Load the csv exported in Part 1 to a DataFrame

In [2]:
# import data file
file = "../WeatherPy/output_data/city_list.csv"
df = pd.read_csv(file)
df.head()

,City ID,City,Country,Date,Max Temp,Clouds,Humidity,Wind Speed,Lat,Lng
0,0,Clyde River,CA,1601160090,26.60,75,100,9.17,70.47,-68.59
1,1,Faanui,PF,1601159542,78.73,8,77,12.73,-16.48,-151.75
2,2,Hermanus,ZA,1601160090,45.00,30,92,6.26,-34.42,19.23
3,3,Hobart,AU,1601159834,46.99,75,49,16.11,-42.88,147.33
4,4,Luena,AO,1601160091,66.29,0,29,2.51,-11.78,19.92